body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:14px;
  width:313px;
  height:19px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:19px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:20px;
  top:6px;
  width:120px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:710px;
  top:17px;
  width:294px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:43px;
  width:1070px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1070px;
  height:3px;
}
#u7 {
  position:absolute;
  left:30px;
  top:63px;
  width:217px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:20px;
  top:85px;
  width:1060px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u10 {
  position:absolute;
  left:51px;
  top:153px;
  width:211px;
  height:133px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:133px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:51px;
  top:294px;
  width:179px;
  height:51px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:51px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:384px;
  width:620px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u15 {
  position:absolute;
  left:40px;
  top:362px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:40px;
  top:404px;
  width:590px;
  height:227px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:227px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:554px;
  width:1050px;
  height:86px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:86px;
}
#u20 {
  position:absolute;
  left:2px;
  top:35px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:51px;
  top:111px;
  width:442px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:814px;
  top:111px;
  width:266px;
  height:51px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:51px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:920px;
  top:121px;
  width:130px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:927px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:823px;
  top:161px;
  width:249px;
  height:209px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:209px;
}
#u30 {
  position:absolute;
  left:2px;
  top:96px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
