


body{background: #e1e1e1;}

/*顶部logo部分*/

h2, p{ margin: 0; padding: 0}

.zhan_logo{ background: #000c3e; height: 250px; text-align: center; overflow: hidden;}
.zhan_logo_bg{background: url(../Images/zhuan_logo_bg.png) no-repeat; margin: 0 auto; margin-top:50px; width: 305px;height: 156px; text-align: center; overflow: hidden; ma}
.zhan_logo img{ width: 220px; height: 67px; margin-top: 35px;  }

/*会员活动海报*/
.zhan_zm{background: #2a3974 url(../Images/zhan_zm_bg.jpg) no-repeat center top;height: 793px; text-align: center; overflow: hidden; margin-bottom: 50px;}
.zhuan_hb{ width: 520px;  line-height: 30px; color: #dec560; text-align: left;     margin: 352px auto;}
.zhuan_hb p{  font-size: 14px; }
.zhuan_hb span{ font-size: 12px; display: block;line-height: 26px;}

.zhuan_1{ height: 450px; color: #fff;  background: #444; overflow: hidden; margin-bottom: 30px;background: url(../Images/zhuan_1_bg.jpg) no-repeat right top;}
.zhuan_1 div{ padding: 50px 40px 30px 50px; width: 287px; background: #69413b url(../Images/zhuan_ico1.png) no-repeat right 60px;   height: 400px; }
.zhuan_1 .tit{ font-size: 22px; line-height: 50px;  }
.zhuan_1 p{ font-size: 15px; line-height: 32px;}
.zhuan_1 a{display: block; border: 1px solid #fff; border-radius: 5px; height: 33px; line-height: 33px;margin: 20px 0 0 60px; font-size: 12px; width: 150px; text-align: center;}
.zhuan_1 a:link, .zhuan_1 a:visited{color: #fff;}

.zhuan_2{height: 360px; overflow: hidden;margin-bottom: 30px}

.zhuan_3{ background: url(../Images/zhuan_3_bg.jpg) no-repeat left top;  height: 458px; overflow: hidden; margin-bottom: 30px}
.zhuan_3_r{ background: #b5bf77 url(../Images/zhuan_ico2.png) no-repeat left 60px; padding: 60px 40px 0 60px; width: 260px; height: 400px; float: right; margin-bottom: 30px; color: #2f370f;}
.zhuan_3_r span{ font-size: 24px; display: block; line-height: 50px;}
.zhuan_3_r p{ font-size: 14px; line-height: 30px;}


/*商业模式*/

.zhuan_4{ border: 3px solid #5b81a9; height: 298px; overflow: hidden;margin-bottom: 30px; background: url(../Images/zhuan_4_bg.jpg) no-repeat left top;}

.zhuan_4_mian{ margin: 25px 30px 25px 160px; color: #5b81a9; overflow: hidden;} 
.zhuan_4_mian li{ border: 1px solid #5b81a9; float: left; width: 200px; height: 212px; border-radius: 80px 0 80px 0; margin-left: 38px; padding: 30px 10px 0 10px; line-height: 27px;} 
.zhuan_4_mian li p{line-height: 23px; padding-left: 10px; background: url(../Images/icon/zhuan_i1.png) no-repeat left 5px ;}
.zhuan_4_mian li h2{font-size: 24px; line-height:60px; margin-left: 5px; }
 
.zhuan_4_mian .zhuan_4_mian_li h2{ margin-left: 30px;}
.zhuan_4_mian_li p{ font-size: 14px; line-height:30px ;margin-left: 30px; width: 110px; }

/*商业模式*/


/*加入会员优惠*/
.zhuan_5{background: #842c37 url(../Images/zhuan_5_bg.jpg) no-repeat right top; height: 153px; margin-bottom: 30px; }
.zhuan_5_m{ float: right; width: 628px; height: 105px; border: 1px dashed #dec54b;  font-size: 16px; line-height: 30px; color: #dec54b; border-radius: 10px; margin: 16px 82px 0 0; padding-top: 12px; }
.zhuan_5_m p{ margin-left: 40px;}

/*加入会员优惠*/

/*图 6 立即报名*/

.zhuan_6{ height: 190px; background: url(../Images/zhuan_6_bg.jpg) no-repeat -1px top; overflow: hidden; margin-bottom: 80px;}
.zhuan_6_main{margin: 30px 0 0 243px; width: 560px; height: 143px; }
.zhuan_6_m{float: left;}
.zhuan_6_m li{ width: 370px; height: 34px; margin-bottom: 13px;}
.zhuan_6_m span{text-align: right; display: inline-block; line-height: 34px; color: #fff; width: 50px; padding-right: 5px;}
.zhuan_6_m span{*display: inline-block; float: left;}
.zhuan_6_m .zhuan_txt{ text-align: left;background: #fff;line-height: 34px; width: 282px;height: 34px; padding-left: 8px}
.zhuan_6_m .zhuan_yz{  width: 114px;}
.zhuan_6_m .zhuan_btn{  width: 108px; height: 29px; background: #fff; line-height: 29px;text-align: center; box-shadow: 0 0 5px #666; border-radius: 6px; margin-left: 8px; outline: none;}
.zhuan_tijiao{float: right;  width: 100px; height: 30px; line-height: 30px; background: #f9d019; text-align: center; box-shadow: 0 0 5px #666; border-radius: 6px; outline: none;     margin: 50px 20px 0 0;}
/*图 6 立即报名*/





.warp-line{width: 1240px; }
.zhuan_7 .service h3{ color: #999; font-size: 22px; }
.zhuan_7 .service a{ color: #999; font-size: 16px; line-height: 30px; }
.zhuan_7 .online .tel a{font-size: 30px;}
.zhuan_7 .online p{font-size: 18px;}
.zhuan_7 .copyright .copy-text{font-size: 14px; color: #999;}
.zhuan_7 .copyright .copy-label{padding-top: 10px;}
.zhuan_7,.footer-1 .zhuan_8{ background: #010c3e;}
.zhuan_foot_bg{float: left; margin: 15px 0 0 200px;}






