body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:230px;
  top:103px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:230px;
  top:125px;
  width:80px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u5 {
  position:absolute;
  left:388px;
  top:353px;
  width:33px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:245px;
  top:332px;
  width:783px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:766px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:783px;
  height:1px;
}
#u8 {
  position:absolute;
  left:508px;
  top:146px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:589px;
  top:143px;
  width:121px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:230px;
  top:148px;
  width:66px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:296px;
  top:132px;
  width:202px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:720px;
  top:143px;
  width:185px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:913px;
  top:143px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:230px;
  top:196px;
  width:783px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:766px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:783px;
  height:1px;
}
#u18 {
  position:absolute;
  left:925px;
  top:478px;
  width:103px;
  height:44px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:460px;
  top:527px;
  width:221px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:237px;
  top:479px;
  width:86px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:17px;
  top:124px;
  width:173px;
  height:736px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:736px;
}
#u25 {
  position:absolute;
  left:2px;
  top:360px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:100px;
  width:150px;
  height:49px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:59px;
  top:157px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:30px;
  top:365px;
  width:150px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u31 {
  position:absolute;
  left:56px;
  top:383px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:56px;
  top:412px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:61px;
  top:189px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:30px;
  top:522px;
  width:150px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u38 {
  position:absolute;
  left:56px;
  top:439px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:56px;
  top:499px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:58px;
  top:537px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:56px;
  top:565px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:58px;
  top:594px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:58px;
  top:623px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:58px;
  top:468px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:61px;
  top:240px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:61px;
  top:265px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:30px;
  top:290px;
  width:150px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u57 {
  position:absolute;
  left:59px;
  top:308px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:61px;
  top:214px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:30px;
  top:651px;
  width:150px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u64 {
  position:absolute;
  left:58px;
  top:666px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:56px;
  top:694px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:58px;
  top:723px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:58px;
  top:752px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:58px;
  top:781px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:58px;
  top:809px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:950px;
  top:224px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:951px;
  top:250px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:456px;
  top:613px;
  width:330px;
  height:247px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:247px;
}
#u81 {
  position:absolute;
  left:2px;
  top:116px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:560px;
  top:714px;
  width:105px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:500px;
  top:809px;
  width:100px;
  height:25px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85 {
  position:absolute;
  left:640px;
  top:809px;
  width:100px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u86 {
  position:absolute;
  left:237px;
  top:212px;
  width:23px;
  height:21px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:270px;
  top:215px;
  width:230px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:510px;
  top:212px;
  width:94px;
  height:19px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:270px;
  top:241px;
  width:40px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:310px;
  top:237px;
  width:15px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:325px;
  top:241px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:387px;
  top:244px;
  width:18px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:18px;
  height:1px;
}
#u99 {
  position:absolute;
  left:410px;
  top:241px;
  width:66px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:267px;
  top:285px;
  width:24px;
  height:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u102 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:271px;
  top:263px;
  width:196px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:293px;
  top:288px;
  width:51px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:950px;
  top:383px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:237px;
  top:352px;
  width:23px;
  height:21px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:270px;
  top:355px;
  width:230px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:510px;
  top:352px;
  width:94px;
  height:19px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:270px;
  top:381px;
  width:40px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:310px;
  top:377px;
  width:15px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:325px;
  top:381px;
  width:47px;
  height:16px;
  color:#FF0000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:382px;
  top:384px;
  width:18px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:18px;
  height:1px;
}
#u122 {
  position:absolute;
  left:410px;
  top:381px;
  width:53px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:267px;
  top:425px;
  width:24px;
  height:22px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u125 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:293px;
  top:428px;
  width:51px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:950px;
  top:409px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
