body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:230px;
  top:103px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:230px;
  top:125px;
  width:80px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u5 {
  position:absolute;
  left:388px;
  top:353px;
  width:33px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:17px;
  top:124px;
  width:173px;
  height:736px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:736px;
}
#u8 {
  position:absolute;
  left:2px;
  top:360px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:100px;
  width:150px;
  height:49px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:59px;
  top:157px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:30px;
  top:365px;
  width:150px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u14 {
  position:absolute;
  left:56px;
  top:383px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:56px;
  top:412px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:61px;
  top:189px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:30px;
  top:522px;
  width:150px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u21 {
  position:absolute;
  left:56px;
  top:439px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:56px;
  top:499px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:58px;
  top:537px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:56px;
  top:565px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:58px;
  top:594px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:58px;
  top:623px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:58px;
  top:468px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:61px;
  top:240px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:61px;
  top:265px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:30px;
  top:290px;
  width:150px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u40 {
  position:absolute;
  left:59px;
  top:308px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:61px;
  top:214px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:30px;
  top:651px;
  width:150px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u47 {
  position:absolute;
  left:58px;
  top:666px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:56px;
  top:694px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:58px;
  top:723px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:58px;
  top:752px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:58px;
  top:781px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:58px;
  top:809px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:230px;
  top:135px;
  width:820px;
  height:397px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:397px;
}
#u60 {
  position:absolute;
  left:2px;
  top:190px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:230px;
  top:135px;
  width:820px;
  height:35px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:35px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:330px;
  top:146px;
  width:112px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:449px;
  top:137px;
  width:187px;
  height:32px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:646px;
  top:142px;
  width:200px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:247px;
  top:226px;
  width:793px;
  height:242px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:242px;
}
#u69 {
  position:absolute;
  left:2px;
  top:113px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:626px;
  top:200px;
  width:253px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:330px;
  top:200px;
  width:164px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
