@{
    ViewBag.Title = "ApplyBrand";
    Layout = null;
}

<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="location" content="province=北京;city=北京;coord=116.39564503788,39.92998577808">
		<link rel="stylesheet" type="text/css" href="/css/zxd.css">
		<link rel="stylesheet" type="text/css" href="/css/xzx.css">
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<script type="text/javascript" src="/js/jquery.js"></script>

		<title>品牌加盟 - 开店ing</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		</head>

	<body onselectstart="return false">
		
		<a style="display: none;" href="#zxd-bottom" class="zxd-apply point_float" data-point="2_4_1_2">
			<i class="zxd-apply-icon"></i> 申请加盟
		</a>

		<section id="zxsj-wrap">

			<figure class="zxsj-banner">
				<img src="/img/jiameng_01.jpg">
			</figure>

			<div id="zxd-bottom" class="zxd-bottom">
				<div class="zxd-info" style="padding: 25px 0 25px 0;">
					<p>已有 <span id="apply_num">@ViewBag.ApplyCount</span> 人通过开店ing加盟</p>
				</div>
				<form class="zxd-form sjbj-form" id="form_zx">
                    <input id="zxd-name" name="chenghu" value="@YG.SC.Weixin.UserContext.Current.Name" placeholder="您的称呼" type="text">
                    <input id="zxd-tel" name="phone" value="@YG.SC.Weixin.UserContext.Current.Mobile" placeholder="联系方式" pattern="1[3|4|5|7|8|][0-9]{9}" type="tel">
					<p class="zxd-form-tip">* 您输入的手机号有误</p>
					
					<input id="zxd-form-submit" value="申请加盟" type="submit">
					<div class="mfsj-info"><i class="icon-info"></i>
						<div>我们承诺：开店ing提供该项免费服务，<em>绝不产生任何消费</em>，为了您的利益以及我们的口碑，您的隐私将被严格保密。</div>
					</div>
                    <input id="zxd-brandid" name="brandid" value="@Request.QueryString["id"]" type="hidden" />
				</form>

			</div>

			<section class="zxsj-introduces" id="zxsjIntroducesNew" style="padding:0;border:0;">
				<figure class="zxsj-introduce zxsj-p1">
					<img style="display: block;" src="/img/jiameng_03.jpg"
					class="lazy" data-original="/img/jiameng_03.jpg">
				</figure>
				<figure class="zxsj-introduce zxsj-p2">
					<img style="display: block;" src="/img/jiameng_04.jpg"
					class="lazy" data-original="/img/jiameng_04.jpg">
				</figure>
				
			</section>

		</section>
		<div class="zxd-dialog">
			<p class="zxd-dialog-title">恭喜您，报名成功！</p>
			<p class="zxd-dialog-info">开店ing客服将在48小时内与您电话联系，审核信息真实性，以便安排服务。</p>
			
			<a href="/shopbrand/index?id=@Request.QueryString["id"]" id="zxd-dialog-ok" class="zxd-dialog-btn">好的</a>
		</div>
		
		<!--输入框验证js-->
<script type="text/javascript" >

    $(document).ready(function () {
        $("#zxd-form-submit").bind("click", function () {
            // 提交请求
            postApplyFrom();
            return false;
        });


    });
    function b() {
        document.body.style.overflow = "hidden",
        document.body.style.position = "fixed"
    }
    function postApplyFrom() {
        var zxname = $("#zxd-name").val();
        var zxtel = $("#zxd-tel").val();
        var zxpid = $("#zxd-brandid").val();

        if (zxname == "") {
            alert("请填写您的称呼");
            return false;
        }
        var s = /^(1[3|4|5|7|8])[\d]{9}$/;
        if (!s.test(zxtel)) {
            alert("请填写正确的联系电话");
            return false;
        }
        var n = {
            BrandId: zxpid,
            UserName: zxname,
            Phone: zxtel
        };
        $.ajax({
            type: "POST",
            url: "/ShopBrand/ApplyBrand",
            dataType: "json",
            data: n,
            success: function (a) {
                if (a) {
                    $(".zxd-mask, .zxd-dialog").show(),
                    b();
                } else {
                    alert("报名出错了..");
                }
            }
        });

    }
       


    </script>

		<div id="alertOveryLayer" style="position: fixed; left: 0px; top: 0px; z-index: 99999; text-align: center; bottom: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.298); display: none;">
			<div style="  position: absolute;display: -moz-box;  display: -webkit-box;  display: -webkit-flex;  display: -moz-flex;  display: -ms-flexbox;  display: -ms-flex;  display: flex;top: 30%;width: 100%;">
				<div class="alert-lay" style="/* display: table-cell; */vertical-align: middle;padding: 0 10%;-webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  display: block;  -webkit-box-flex: 1;  -moz-box-flex: 1;  -webkit-flex: 1 1 0;  -moz-flex: 1 1 0;  -ms-flex: 1 1 0;  flex: 1 1 0;  text-align: center;">
					<div class="overlay-bd" style="background-color: #fff;font-size: 14px;color: #333333;line-height: 24px;padding: 20px 15px;text-align: center;border-radius: 7px 7px 0 0;">asdf</div>
					<div class="overlay-foot" style="border-top: 1px solid #e3e3e3;">
						<div class="overlay-btn overlay-btn-ok" style="background-color: #fff;cursor: pointer;font-size: 16px;color: #00a1ff;height: 42px;line-height: 42px;border-radius: 0 0 7px 7px;">好的</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
