@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    img {
        width: 100%;
        text-align: center;
    }

    .wz_color {
        color: #717171;
        font-size: 14px;
    }

    h3 {
        list-style-type: none;
        padding: 0;
        line-height: 0; /* 行高 */
    }
    body { LINE-HEIGHT: 150% }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>购买流程</title>
</head>
<body>
    @*<div style="background-color:#ebe9e9;">
        <div style="text-align:center;"><strong style="font-size:30px">购买流程</strong></div>
    </div>*@
    <div style="margin: 0 auto;">
        @*<div style="border:1px solid #00ff21; width:50%;margin-top:15px"></div>*@
        <ul style="list-style-type: none; padding-left: 0; margin: 0 auto; width: 96%;">
            <li>
                <h3 style="padding-top:20px">1.挑选商品</h3>
                <div class="wz_color">我要开店为您提供了多种挑选商品的途径，您可以通过头部搜索或分类导航查找您想购买的商品。</div>

                <img src="~/Images/Buying/BuyingProcess_01.png" />
            </li>
            <li>
                <h3>2.商品加入购物车</h3>
                <div class="wz_color">
                    您可以通过以下两种方式将商品加入购物车。<br />
                    在商品列表页，点击“加入购物车”将商品加入到购物车；<br />
                    在商品详情页，点击“加入购物车”将商品加入到购物车；
                </div>

                <img src="~/Images/Buying/BuyingProcess_02-1.png" />
                <img src="~/Images/Buying/BuyingProcess_02-2.png" />
            </li>
            <li>
                <h3>3.查看购物车商品</h3>
                <div class="wz_color">当您选购完商品后，可点开底部标签，查看已挑选的商品，点击“去结算”，进入结算流程。</div>
                <img src="~/Images/Buying/BuyingProcess_03.png" />
            </li>
            <li>
                <h3>4.确认订单</h3>
                <div class="wz_color">
                    1）进入订单提交页，首先填写收货信息。<br />
                    2）在订单提交页下方，会显示商品金额、运费、备注等，核对信息无误后，点击“立即下单”。
                </div>

                <img src="~/Images/Buying/BuyingProcess_04.png" />
            </li>

        </ul>
    </div>
</body>
</html>
