@model YG.SC.WeiXin.Models.HomeIndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>首页---开店ing，一站式开店服务平台</title>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="~/css/basic.css">
    <link rel="stylesheet" href="~/css/main2.css">
    <script src="~/js/jquery.1.9.0.js"></script>
    <script src="~/js/public.js"></script>
    <script src="~/js/o_code.js"></script>



</head>

<body class="index-bg" style="zoom: 1;">

    <img class="logo" src="/img/logo.png" alt="开店ing的logo">

    <div class="index-nav clear">
        <a class="" href="/project/list">
            <img src="/img/icon-jiaqi.png" alt="项目">
            <p>项目</p>
        </a>
        <a href="/room/list">
            <img src="/img/icon-feidian.png" alt="商铺">
            <p>商铺</p>
        </a>
        <a class="js_user" href="/Postings/list">
            <img src="/img/icon-user.png" alt="需求">
            <p>需求</p>
        </a>
        <a class="js_user js_user4" href="/openshop/list">
            <img src="/img/icon-ky.png" alt="开业帮">
            <p>开店帮</p>
        </a>
        <a class="js_user`" href="/shopbrand/list">
            <img src="/img/icon-pp.png" alt="品牌汇">
            <p>品牌汇</p>
        </a>
    </div>

    <div class="index-footer">
        <p>润嘉合众（北京）科技发展有限公司</p>
    </div>

</body>
</html>