@{
    ViewBag.Title = "用户登陆 - 开店ing";
    Layout = null;
}

<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/pptm.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
		<title>用户登陆 - 开店ing</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
	</head>

	<body onselectstart="return false">
		
		<header id="dt-hd" class="navstyle3" style="text-align: left;">
			<div style="width:98%;padding-left:1%;line-height:40px;font-size: 16px;font-weight: bold;float:left;">
				用户登陆
			</div>
			
			
		</header>
		<style>
			.service_content {
			        display: none;
			        position: fixed;
			        top: 0;
			        width: 100%;
			        background: #fff;
			        right: 0;
			        height: 100%;
			        z-index: 11; 
			        overflow:auto;
			    }
			    .service_content h1#hideSel {
			        font-size: 18px;
			        padding-left: 15px;
			        height: 44px;
			        line-height: 44px;
			        position: relative;
			        text-align: center; 
			    }
			    .service_content h1#hideSel::after {
			        position: absolute;
			        border-right: solid #999 2px;
			        border-bottom: solid #999 2px;
			        -webkit-transform: rotate(135deg);
			        content: '';
			        height: 16px;
			        width: 16px;
			        top: 15px;
			        left: 15px; 
			    }
			    body{
			         background: #f7f7f7;
			    }
		</style>
		<form action="" method="post">
			<input name="timer" id="timer" value="120" type="hidden">
			<section class="user-login-frame">
				<div id="username_div">
					<input placeholder="请输入用户名/手机号码" name="username" class="reg_info" id="setUserName" type="text">
				</div>
				<h3></h3>
				<div id="password_div" class="martop">
					<input placeholder="请输入密码" name="password" class="reg_info" id="setPassword" type="password">
				</div>
				<h3></h3>
				
			</section>
			<input id="reg_submit" class="invoice-save-button" value="登陆" type="submit">
            <h3 style="margin-left:15px;">无帐户请点击<a href="/login/regist" style="color:red">注册</a></h3>
			
		</form>
		
		<br>
		<script>
			var times = 120;
			    $(function () {
			        $(".reg_info").blur(function () {
			            $(this).parent('div').children('span').remove();
			            $(this).parent('div').next("h3").text('');
			        });
			
			        $("#reg_submit").click(function () {
                        // check 
			            var flag = 1;
			            if (!$.trim($("#setUserName").val())) {
			                $("#username_div").append('<span class="pptm-icon"></span>').next('h3').text("请输入用户名");
			                flag = 0;
			            }
			           
			            if (!$.trim($("#setPassword").val())) {
			                $("#password_div").append('<span class="pptm-icon"></span>').next('h3').text("请输入密码");
			                flag = 0;
			            }
			            
			            if (!flag) {
			                return false;
			            }

			            // login 

			            var LoginName = $.trim($('#setUserName').val());
			            var password = $.trim($('#setPassword').val());
			            var remembereMe = "true";
			            var flag = true;

			            if (flag) {
			                var btn = $(this);
			                //btn.button('loading');
			                $.post('/Login/Login', { username: LoginName, password: password, RememberMe: remembereMe }, function (model) {
			                    if (model == "IsSuccss") {
			                        window.location.href = '/Home/Index';
			                    } else {
			                        //$('.panel-title').html(model).parent().removeClass('hide');
			                        //btn.button("reset");
			                        alert(model);
			                        return false;
			                    }
			                });
			            }

			            return false;
			        });
			    });
		
		</script>


        <script src="~/Scripts/bootstrap.min.js"></script>
<script>
    //$('#reg_submit').click(function () {
    
    //    var LoginName = $.trim($('#setUserName').val());
    //    var password = $.trim($('#setPassword').val());
    //    var remembereMe = ":checked";
    //    var flag = true;
        
    //    if (flag) {
    //        var btn = $(this);
    //        //btn.button('loading');
    //        $.post('/Login/Login', { username: LoginName, password: password, RememberMe: remembereMe }, function (model) {
    //            if (model == "IsSuccss") {
    //                window.location.href = '/Home/Index';
    //            } else {
    //                //$('.panel-title').html(model).parent().removeClass('hide');
    //                //btn.button("reset");
    //                alert(model);
    //                return false;
    //            }
    //        });
    //    }

    //});

    $('body').keydown(function (e) {
        if (e.keyCode === 13) {
            $('.btn').click();
        }
    });
</script>
		
		<div id="alertOveryLayer" style="position: fixed; left: 0px; top: 0px; z-index: 99999; text-align: center; bottom: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.298); display: none;">
			<div style="  position: absolute;display: -moz-box;  display: -webkit-box;  display: -webkit-flex;  display: -moz-flex;  display: -ms-flexbox;  display: -ms-flex;  display: flex;top: 30%;width: 100%;">
				<div class="alert-lay" style="/* display: table-cell; */vertical-align: middle;padding: 0 10%;-webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  display: block;  -webkit-box-flex: 1;  -moz-box-flex: 1;  -webkit-flex: 1 1 0;  -moz-flex: 1 1 0;  -ms-flex: 1 1 0;  flex: 1 1 0;  text-align: center;">
					<div class="overlay-bd" style="background-color: #fff;font-size: 14px;color: #333333;line-height: 24px;padding: 20px 15px;text-align: center;border-radius: 7px 7px 0 0;">asdf</div>
					<div class="overlay-foot" style="border-top: 1px solid #e3e3e3;">
						<div class="overlay-btn overlay-btn-ok" style="background-color: #fff;cursor: pointer;font-size: 16px;color: #00a1ff;height: 42px;line-height: 42px;border-radius: 0 0 7px 7px;">好的</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
