@{
    ViewBag.Title = "ceshi";
}
<link href="~/Content/huandeng.css" rel="stylesheet" />

<!--幻灯片开始-->
<script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.banner.revolution.min.js"></script>
<script type="text/javascript" src="~/Scripts/banner.js"></script>
<!--幻灯片结束-->

    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>

                <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
                    <img src="~/Images/slides/index-12_02.jpg" alt="" />
                </li>
                <li data-transition="turnoff" data-slotamount="15" data-masterspeed="300">
                    <img src="~/mages/slides/index_03.jpg" alt="" />
                </li>

            </ul>
        </div>
    </div>
