@{Layout = null;}

@{
    var tuple = Model as Tuple<YG.SC.WebUI.Views.AdPositionManager.AdPositionSearchPartial[], YG.SC.Model.PagerEntity>;
    var idx = tuple.Item2.Idx;
    var selRecsts = ViewBag.SelRecsts as string;
}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
         
            <th>Id</th>
            <th>选择</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (YG.SC.WebUI.Views.AdPositionManager.AdPositionSearchPartial item in Model.Item1)
            {
                <tr>
                 
                    <td class="text-center">@item.Id</td>
                    <td class="">
                        <label><input name="ckPartId" type="checkbox" value="@item.Id" />@item.Name</label>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                @Html.Pager(tuple.Item2.PageIndex,tuple.Item2.Top,tuple.Item2.Total,"status","tag")
            </td>
        </tr>
    </tfoot>
</table>
