.marR {
	margin-right: 10px
}
.zxd-bottom {
	background-color: #fff
}
.zxd-info {
	font-size: 19px;
	text-align: center;
	padding: 22px 0
}
.zxd-info span {
	color: #e54a4a
}
.zxd-form {
	margin: 0 15px
}
a.wli-apply-finish-btn {
	background-color: #999
}
@media all and (min-width: 640px) {
	.wxg-content {
		width: 640px;
		margin: 0 auto
	}
}
.zxd-form input,
.zxd-form select {
	-webkit-appearance: none;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 0;
	padding-left: 10px;
	background-color: #fff;
	font-size: 16px;
	line-height: 18px
}
.zxd-form input {
	display: block;
	width: 100%;
	height: 45px;
	margin: 10px 0;
	padding-right: 10px
}
.zxd-form-tip {
	font-size: 12px;
	color: #e54a4a;
	margin: 10px 0;
	display: none
}
.zxd-form-address {
	margin: 10px 0
}
.zxd-form-address label {
	width: 48.26%;
	height: 45px;
	float: left
}
.zxd-form-address select {
	width: 100%;
	height: 45px
}
.zxd-form label {
	position: relative
}
label:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #666 transparent transparent;
	border-width: 6px;
	font-size: 0;
	position: absolute;
	top: 6px;
	right: 12px
}
.zxd-form-address label:after {
	top: 20px
}
.zxd-form-address label:first-child {
	margin-right: 3.48%
}
.zxd-form-type {
	width: 100%;
	height: 45px
}
#zxd-form-submit {
	border: none;
	font-size: 17px;
	color: #fff;
	background-color: #ea4504;
	margin-bottom: 25px
}
.zxd-dialog {
	width: 300px;
	height: auto;
	margin: 0 auto 0 -150px;
	background-color: #fff;
	text-align: center;
	position: fixed;
	top: 180px;
	left: 50%;
	padding: 15px;
	display: none;
	z-index: 1020
}
.zxd-dialog-title {
	font-size: 19px;
	margin-bottom: 10px
}
.zxd-dialog-info {
	text-align: left;
	font-size: 12px;
	margin: 0 20px;
	color: #333
}
.zxd-mask {
	position: fixed;
	top: 0;
	height: 768px;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: none
}
.zxd-dialog-btn {
	width: 130px;
	height: 35px;
	line-height: 35px;
	background-color: #f36f20;
	color: #fff;
	font-size: 17px;
	display: inline-block;
	margin: 15px 0
}
a.zxd-apply {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #999;
	font-size: 17px;
	text-align: center;
	width: 100%;
	height: 44px;
	line-height: 44px;
	color: #ea4504;
	background-color: rgba(255, 255, 255, .9);
	z-index: 1000;
	display: none
}
.zxd-apply-icon {
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: -2px;
	margin-right: 10px;
	background: url(http://img.to8to.com/wap/v2/zxd-apply-icon.png);
	background-size: 19px 19px
}
.zxd-main {
	background-size: 19px 19px
}
@media all and (min-width: 640px) {
	.zxd-main {
		width: 640px;
		margin: 0 auto
	}
	.zxd-form {
		width: 580px;
		margin: 0 auto
	}
}
#gzbj-wrap,
#zxbPageWrap,
#zxsj-wrap {
	max-width: 640px;
	margin: auto;
	background-color: #fff
}
#zxsj-wrap .zxsj-banner {
	padding: 250px 0;
	background-color: #118c5b;
	position: relative
}
#zxsj-wrap .zxsj-banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}
#zxsj-wrap .zxsj-liucheng {
	margin: 5px 0 0;
	position: relative;
	padding: 6.5625% 0
}
#zxsj-wrap .zxsj-liucheng img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}
#zxsj-wrap .zxsj-introduces {
	border-top: 1px solid #999;
	padding: 25px 15px 0
}
#zxsj-wrap .zxsj-introduce {
	position: relative
}
#zxsj-wrap .zxsj-introduce img {
	position: absolute
}
#zxsj-wrap .zxsj-stephead {
	padding: 7.5862% 0;
	background-color: #bdd3e9
}
#zxsj-wrap .zxsj-stephead img {
	left: 0;
	width: 100%;
	top: 0
}
#zxsj-wrap .zxsj-p1 {
	margin-top: 36px;
	padding: 134.2% 0
}
#zxsj-wrap .zxsj-p1 img {
	top: 0;
	width: 94.48%;
	left: 2.76%
}
#zxsj-wrap .zxsj-p2 {
	margin-top: 40px;
	padding: 150% 0
}
#zxsj-wrap .zxsj-p2 img {
	top: 0;
	width: 100%;
	left: 0
}
#zxsj-wrap .zxd-download-app {
	padding-bottom: 0!important
}
#zxbPageWrap .zxb-banner {
	padding: 23.4375% 0;
	position: relative
}
#zxbPageWrap {
	background-color: #fff
}
#zxbPageWrap .sumbitFrom {
	padding-bottom: 0
}
#zxbPageWrap .zxb-banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto
}
#zxbPageWrap .zxb-liucheng {
	margin: 15px auto;
	position: relative;
	padding: 7.03125% 0
}
#zxbPageWrap .zxb-liucheng img {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%
}
#zxbPageWrap .zxb-introduces {
	border-top: 1px solid #999;
	padding: 0 10px
}
#zxbPageWrap .zxb-introduce {
	border-bottom: 1px solid #ddd;
	padding: 0 16px
}
#zxbPageWrap .zxb-introduce4 {
	border-bottom: 1px solid transparent
}
#zxbPageWrap .zxb-introduce h2 {
	font-size: 20px;
	line-height: 24px;
	color: #333;
	margin: 32px auto 26px;
	text-align: center;
	font-weight: 700
}
#zxbPageWrap .zxb-introduce0 h2 {
	margin: 45px auto 31px
}
#zxbPageWrap .zxb-introduce p {
	font-size: 14px;
	line-height: 20px;
	color: #666
}
#zxbPageWrap .zxb-introduce4 p {
	text-align: center
}
#zxbPageWrap .zxb-introduce figure {
	position: relative;
	margin: 30px auto;
	padding: 75%
}
#zxbPageWrap .zxb-introduce figure img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto
}
#zxbPageWrap .zxb-introduce0 figure {
	padding: 7.50469%
}
#zxbPageWrap .zxb-introduce1 figure {
	padding: 40.3%
}
#zxbPageWrap .zxb-introduce2 figure {
	padding: 41.6%;
	margin-top: 28px;
	margin-bottom: 35px
}
#zxbPageWrap .zxb-introduce3 figure {
	padding: 45.056%;
	margin-top: 24px;
	margin-bottom: 45px
}
#zxbPageWrap .zxb-introduce4 figure {
	padding: 16.6044776%;
	margin-top: 44px;
	margin-bottom: 42px
}
#zxbPageWrap .zxd-info {
	font-size: 19px;
	line-height: 21px;
	text-align: center;
	color: #333;
	padding: 27px 0 20px
}
#zxbPageWrap #zxb_addamount {
	color: #e54a4a;
	margin: 0 8px
}
#zxbPageWrap .sumbitFrom input {
	width: 93.75%
}
#zxbPageWrap .selCity {
	width: 93.75%;
	margin: 0 auto
}
#zxbPageWrap .selCity label:nth-of-type(1) {
	margin-right: 4%
}
#zxbPageWrap .zxb-view-detail {
	width: 140px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #ea4504;
	display: block;
	margin: 0 auto 66px
}
#zxbPageWrap p.zxd-form-tip {
	width: 93.725%;
	padding: 0 10px
}
#mfsj-area {
	position: relative
}
#mfsj-area input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	display: block;
	background: #fff;
	-webkit-border-radius: 0;
	border-radius: 0
}
#mfsj-area span {
	position: absolute;
	display: block;
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	top: 2px;
	right: 0;
	color: #999
}
#mfsj-cost {
	display: block;
	width: 100%;
	height: 45px;
	margin: 10px 0;
	position: relative
}
.mfsj-cost {
	width: 100%;
	height: 44px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	display: block;
	background: #fff;
	-webkit-border-radius: 0;
	border-radius: 0
}
#mfsj-cost label {
	position: absolute;
	height: 42px;
	line-height: 42px;
	color: #999;
	font-size: 14px;
	top: 1px;
	left: 15px
}
#mfsj-cost label:after {
	display: none
}
#mfsj-cost:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #666 transparent transparent;
	border-width: 6px;
	font-size: 0;
	position: absolute;
	top: 21px;
	right: 12px
}
;
#zxsj-wrap #zxsjIntroducesNew {
	margin: 0;
	padding: 0
}
#zxsjIntroducesNew .zxsj-p1 {
	margin: 0;
	padding: 70px 0
}
#zxsj-wrap #zxsjIntroducesNew .zxsj-p2 {
	margin: 0;
	padding: 310px 0
}
#zxsj-wrap #zxsjIntroducesNew .zxsj-p3 {
	margin: 0;
	padding: 270px 0
}
#zxsj-wrap #zxsjIntroducesNew .zxsj-p4 {
	margin: 0;
	padding: 280px 0
}
#zxsj-wrap #zxsjIntroducesNew .zxsj-p5 {
	margin: 0;
	padding: 330px 0
}
#zxsj-wrap #zxsjIntroducesNew .zxsj-p6 {
	margin: 0;
	padding: 315px 0
}
#zxsj-wrap #zxsjIntroducesNew img {
	left: 0;
	top: 0;
	width: 100%;
	height: auto
}
.mfsj-info {
	margin-top: -15px;
	margin-bottom: 10px
}
.mfsj-info em {
	color: #ea4504
}
.mfsj-info .icon-info {
	display: block;
	float: left;
	overflow: hidden;
	background: url(http://img.to8to.com/wap/v2/mfsj-icon-info.png) no-repeat;
	background-size: 18px 18px;
	width: 18px;
	height: 18px;
	vertical-align: middle
}
.mfsj-info div {
	display: block;
	margin-left: 27px;
	font-size: 12px;
	color: #999;
	line-height: 19px
}