@{
    Layout = "~/Views/Shared/_LayoutMall.cshtml";
}
<div class="body-warp">
    <div class="check_con">
        <!-- 头部logo部分开始 -->
        <div class="m_head">
            <a class="m_logo" href="/"><img src="~/Images/mall/m_logo.png"></a>
            <ul class="process">
                <li class="process1"><span>1</span>购物车</li>
                <li class="process2"><span>2</span>订单核对</li>
                <li class="process3"><span>3</span>付款</li>
                <li class="process4"><span>4</span>订单提交成功</li>
            </ul>
        </div>
        <!-- 头部logo部分结束 -->
        <!-- 购物车标题 全选s-->
        <div class="shop_tit">购物车</div>
        <ul class="all_shop1">
            <li class="all_shop1_li1">
                <input class="select_all" id="all_tot" type="checkbox" name=" " value="">
                <label for="all_tot">&nbsp;全选</label>
            </li>
            <li class="all_shop1_li2">商品信息</li>
            <li class="all_shop1_li3">单价</li>
            <li class="all_shop1_li4">数量</li>
            <li class="all_shop1_li5">操作</li>
        </ul>
        <!-- 购物车标题 全选e-->
        <!-- 购物车商品-->
        <div class="car_goods">
            <!-- 商家-->
            <ul class="shops">
                <li>
                    <input class="all_but1" id="all_shops1" type="checkbox" name="" value="">
                    <label for="all_shops1"> &nbsp; &nbsp; 店铺：文创园商家</label>
                </li>
            </ul>
            <!-- 购物车商品-->
            <ul class="car_goods_shop">
                <li class="shop_choice">
                    <input class="all_but1" type="checkbox" name="" value="">
                </li>
                <li class="car_goods1">
                    <img src="~/Images/mall/con_goods1.jpg">
                    杨梅大促销！！旺季促销！！
                </li>
                <li class="car_goods1_price red"><span>￥</span><span class="cg1_price">36.00</span></li>
                <li class="car_goods1_num">
                    <div class="goods_num_choice">
                        <a href="javascript:void(0)" class="choice1">-</a>
                        <input type="number" value="2" class="num_choice">
                        <a href="javascript:void(0)" class="choice2">+</a>
                    </div>
                </li>
                <li class="car_goods1_operate">删除</li>
            </ul>
            <ul class="car_goods_shop">
                <li class="shop_choice">
                    <input class="all_but1" type="checkbox" name="" value="">
                </li>
                <li class="car_goods1">
                    <img src="~/Images/mall/con_goods1.jpg">
                    杨梅大促销！！旺季促销！！
                </li>
                <li class="car_goods1_price red"><span>￥</span><span class="cg1_price">36.00</span></li>
                <li class="car_goods1_num">
                    <div class="goods_num_choice">
                        <a href="javascript:void(0)" class="choice1">-</a>
                        <input type="number" value="2" class="num_choice">
                        <a href="javascript:void(0)" class="choice2">+</a>
                    </div>
                </li>
                <li class="car_goods1_operate">删除</li>
            </ul>
        </div>
        <!-- 购物车商品-->
        <div class="car_goods">
            <!-- 商家-->
            <ul class="shops">
                <li>
                    <input class="all_but1" id="all_shops2" type="checkbox" name="" value="">
                    <label for="all_shops2">  &nbsp; &nbsp; 店铺：文创园商家</label>
                </li>
            </ul>
            <!-- 购物车商品-->
            <ul class="car_goods_shop">
                <li class="shop_choice">
                    <input class="all_but1" type="checkbox" name="" value="">
                </li>
                <li class="car_goods1">
                    <img src="~/Images/mall/con_goods1.jpg">
                    杨梅大促销！！旺季促销！！
                </li>
                <li class="car_goods1_price red"><span>￥</span><span class="cg1_price">36.00</span></li>
                <li class="car_goods1_num">
                    <div class="goods_num_choice">
                        <a href="javascript:void(0)" class="choice1">-</a>
                        <input type="number" value="2" class="num_choice">
                        <a href="javascript:void(0)" class="choice2">+</a>
                    </div>
                </li>
                <li class="car_goods1_operate">删除</li>
            </ul>
            <ul class="car_goods_shop">
                <li class="shop_choice">
                    <input class="all_but1" type="checkbox" name="" value="">
                </li>
                <li class="car_goods1">
                    <img src="~/Images/mall/con_goods1.jpg">
                    杨梅大促销！！旺季促销！！
                </li>
                <li class="car_goods1_price red"><span>￥</span><span class="cg1_price">36.00</span></li>
                <li class="car_goods1_num">
                    <div class="goods_num_choice">
                        <a href="javascript:void(0)" class="choice1">-</a>
                        <input type="number" value="2" class="num_choice">
                        <a href="javascript:void(0)" class="choice2">+</a>
                    </div>
                </li>
                <li class="car_goods1_operate">删除</li>
            </ul>
        </div>
        <!-- 购物车商品-->
        <div class="car_goods">
            <!-- 商家-->
            <ul class="shops">
                <li>
                    <input class="all_but1" id="all_shops3" type="checkbox" name="" value="">
                    <label for="all_shops3"> &nbsp; &nbsp; 店铺：文创园商家</label>
                </li>
            </ul>
            <!-- 购物车商品-->
            <ul class="car_goods_shop">
                <li class="shop_choice">
                    <input class="all_but1" type="checkbox" name="" value="">
                </li>
                <li class="car_goods1">
                    <img src="~/Images/mall/con_goods1.jpg">
                    杨梅大促销！！旺季促销！！
                </li>
                <li class="car_goods1_price red"><span>￥</span><span class="cg1_price">36.00</span></li>
                <li class="car_goods1_num">
                    <div class="goods_num_choice">
                        <a href="javascript:void(0)" class="choice1">-</a>
                        <input type="number" value="2" class="num_choice">
                        <a href="javascript:void(0)" class="choice2">+</a>
                    </div>
                </li>
                <li class="car_goods1_operate">删除</li>
            </ul>
            <ul class="car_goods_shop">
                <li class="shop_choice">
                    <input class="all_but1" type="checkbox" name="" value="">
                </li>
                <li class="car_goods1">
                    <img src="~/Images/mall/con_goods1.jpg">
                    杨梅大促销！！旺季促销！！
                </li>
                <li class="car_goods1_price red"><span>￥</span><span class="cg1_price">36.00</span></li>
                <li class="car_goods1_num">
                    <div class="goods_num_choice">
                        <a href="javascript:void(0)" class="choice1">-</a>
                        <input type="number" value="2" class="num_choice">
                        <a href="javascript:void(0)" class="choice2">+</a>
                    </div>
                </li>
                <li class="car_goods1_operate">删除</li>
            </ul>
        </div>
        <!-- 选择结算s-->
        <ul class="all_pay">
            <li class="all_pay1">
                <input class="select_all" id="all_tot2" type="checkbox" name="" value="">
                <label for="all_tot2">&nbsp;全选</label>
            </li>
            <li class="all_pay2">
                <div class="go_del">
                    <a href="javascript:void(0)" class="pay_del red">删除选中的商品</a>
                    <a href="javascript:void(0)" class="pay_going">继续购物</a>
                </div>
            </li>
            <li class="all_pay3">
                <div class="checked_goods">
                    <span class="">已选商品</span>
                    <em>0</em>
                    <span>件</span>
                </div>
            </li>
            <li class="all_pay4">
                <span class="red all_pay3_tot">合计（不含运费）:</span>
                <strong class="all_pay3_num">
                    ￥
                    <em>0.00</em>
                </strong>
            </li>
            <li class="all_pay5">
                <input class="go_pay" type="submit" value="去结算">
            </li>
        </ul>
        <!-- 选择结算e-->
    </div>
</div>

