<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="PM25DbEntities" connectionString="metadata=res://*/PM25DbContext.csdl|res://*/PM25DbContext.ssdl|res://*/PM25DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.8.187;initial catalog=PM25;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>