@model YG.SC.Model.HelloWorldEntity

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h1>@Model.UserName</h1>
        <h2>@Model.Id</h2>
        <h2>@Model.Age</h2>
    </div>
</body>
</html>
