@{
    ViewBag.Title = "商家注册-平台审核";
}
<link href="~/Content/siteweb.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<div class="body-warp">
    <div class="add_jindubox">
        <ul class="ul_jindutxt Gray16">
            <li class="Pink16">提交公司信息</li>
            <li class="Pink16">上传案例图片</li>
            <li class="Pink16">上传资质图片</li>
            <li class="red">平台审核</li>
            <li>注册成功</li>
        </ul>
        <ul class="ul_jinduimg">
            <li>
                <div style="background-color:#d8b2b1;"></div>
                <img src="~/Images/icon/2_01.png">
            </li>
            <li>
                <div style="background-color:#d8b2b1;"></div>
                <img src="~/Images/icon/2_02.png">
            </li>
            <li>
                <div style="background-color:#d8b2b1;"></div>
                <img src="~/Images/icon/2_03.png">
            </li>
            <li>
                <div style="background-color:#d72315;"></div>
                <img src="~/Images/icon/3_04.png">
            </li>
            <li>
                <div></div>
                <img src="~/Images/icon/1_05.png">
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>

<div class="body-warp">
    <div class="addredbox Red22">
        资料提交成功，管理员正进行审核，如有疑问请拨打热线电话400-6226036。
    </div>
</div>


<div class="body-warp">
    <div class="add_jindubox" style="text-align: center;margin-top:0px;">
        <a href="~/Merchant/Company_index/@YG.SC.OpenShop.UserContext.Current.Id"><button class="add_sjbutton">进入商家中心</button></a>
    </div>
</div>

